<div class="content-wrapper">

  <div class="table-container-wrapper">
    <div #tableContainer class="table-container">
      <!-- Will be filled later with the table -->
    </div>
  </div>

  <div class="controls-container">
    <button (click)="repaint()">Repaint</button>
    <button (click)="addOneFixedRowsColumns()">Add 1 fixed row/column</button>
    <button (click)="removeOneFixedRowsColumns()">Remove 1 fixed row/column</button>
    <button (click)="focusTable()">Focus table programmatically</button>
  </div>

</div>
