.content-wrapper {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.table-container-wrapper {
  flex: 1 1 auto;
  border: 1px solid lightslategrey;
  border-radius: 2px;
  position: relative;
}

.table-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.controls-container {
  flex: 0 0 auto;
}

