html, body {
  height: 100%;
  user-select: none;
}

body {
  margin: 0;
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.small-form-field .mat-form-field-infix {
  padding: 0.5em 0;
}
