.table-container {
  height: 400px;
  margin-bottom: 25px;
  border: 2px dashed #999;
  padding: 4px;
  background-color: white;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
